{% extends 'base.html' %} 

{% block title %}
  Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
  <nav>
    <a href="{% url 'list_recipe' %}">Main page</a>
   
  </nav>
</header>
<main>
  <h1>Scrumptious Recipes</h1>
  <h2>All the food that's fit to eat</h2>
  <div class="recipe-grid">
    <div>
      <h3>
        <a href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a>
      </h3>
      <img src="https://mks.io/public-tacos">
      <div>4.3 stars</div>
    </div>
  </div>
</main>

{% endblock content %}

