{% extends 'recipes/base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
      <a href="{% url 'recipes:list_recipe' %}">Main page</a>
      <a href="{% url 'recipes:create_recipe' %}">Create a recipe</a>
    
    {% if user.is_authenticated %}
        Hello, {{user.username}}
    {% else %}
      <a href="{% url 'accounts:signup' %}">Sign Up</a>
      <a href="{%url 'accounts:user_login' %}">LogIn</a>
      {% endif %}
    </nav>
  </header>
  <main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="recipe-grid">
        {% for recipe in recipe_list %}
      <div>
        <h3>
            <a href="{% url 'recipes:show_recipe' recipe.id %}">{{ recipe.title }}</a>
          <p>{{ recipe.created_on|date:"M d, Y"}}</p>
        </h3>
        <img src="{{recipe.picture}}">
        <div>4.3 stars</div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock content %}
